ODD/lacy.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
xmlns:xi="http://www.w3.org/2001/XInclude"
xmlns:sch="http://purl.oclc.org/dsdl/schematron"
xmlns:e="http://distantreading.net/eltec/ns">
<teiHeader>
<fileDesc>
<titleStmt>
<title type="main">Encoding Guidelines for the Lacy project</title>
<author>Lou Burnard</author>
</titleStmt>
<publicationStmt>
<p>Unpublished draft</p>
</publicationStmt>
<sourceDesc>
<p>A born digital document drafted in TEI format by LB</p>
</sourceDesc>
</fileDesc>
<revisionDesc>
<change when="2023-12-03">Started drafting by editing eltec.odd</change>
</revisionDesc>
</teiHeader>
<text>

<body>
<p>Insert lots of nice documentation here</p>
</body>
<back>
<div>
<head>Full formal specifications</head>
<p>The encoding scheme defined by this document is a TEI-conformant
customization, from which user documentation, and formal RELAXNG or DTD
specifications can be generated automatically. </p>
<p> This section contains the full schema specification from which formal
schemas may be subsequently derived. It must be converted using (for example)
teitorelaxng. </p>

<schemaSpec ident="lacy" start="teiCorpus TEI" prefix="tei_" targetLang="en"
docLang="en" source="tei:4.10.2">

<!-- MODULES -->
<moduleRef key="tei"/>
<moduleRef key="core"
include="author bibl corr date desc  emph foreign gap graphic  head hi item l  label  lg list         
      measure milestone name note p  pb  ptr publisher quote ref   relatedItem respStmt resp series     sp speaker
      stage teiCorpus term title "/>
<moduleRef key="textstructure" include="TEI  back body byline div docTitle
      docAuthor docImprint docDate  epigraph  front signed text titlePage titlePart  trailer    "/>
<moduleRef key="header"
include="teiHeader fileDesc titleStmt publicationStmt distributor
      sourceDesc encodingDesc classDecl taxonomy category catDesc listPrefixDef prefixDef revisionDesc change idno extent profileDesc langUsage language textClass catRef keywords "/>
<moduleRef key="drama"
include="set performance castGroup castList castItem role roleDesc actor
      spGrp "/>
 <moduleRef key="figures" include="figure figDesc"/>
<!-- <moduleRef key="linking" include="seg ab"/>-->
<!--   <moduleRef key="transcr" include="subst addSpan delSpan"/>
  -->
<moduleRef key="namesdates" include="event listEvent listPerson person persName"/>
<moduleRef key="tagdocs" include="listRef ident"/>
<moduleRef key="corpus" include="particDesc"/>
<moduleRef key="analysis"
except="c cl interp interpGrp m pc phr s span spanGrp w"/>
<!-- need this to get @ana -->

<!-- CLASSES -->

<classSpec ident="att.anchoring" type="atts" mode="delete"/>
<!-- <classSpec ident="att.ascribed.directed" type="atts" mode="delete"/>
  -->
<classSpec ident="att.breaking" type="atts" mode="delete"/>
<classSpec ident="att.cReferencing" type="atts" mode="delete"/>
<classSpec ident="att.calendarSystem" type="atts" mode="delete"/>
<classSpec ident="att.canonical" type="atts" mode="change">
<attList>
<attDef ident="ref" mode="change">
<exemplum>
<p>adds a reference for a standard authority database, e.g. viaf</p>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<author ref="viaf:1234">Some Geyser</author>
</egXML>
</exemplum>
</attDef>
<attDef ident="key" mode="delete"/>
</attList>
</classSpec>
<classSpec ident="att.cmc" type="atts" mode="delete"/>

<classSpec type="atts" ident="att.datable" mode="change">
<attList>
<attDef ident="calendar" mode="delete"/>
<attDef ident="period" mode="delete"/>
</attList>
</classSpec>

<classSpec ident="att.datcat" type="atts" mode="delete"/>
<classSpec ident="att.declarable" type="atts" mode="delete"/>
<classSpec ident="att.declaring" type="atts" mode="delete"/>

<classSpec type="atts" ident="att.dimensions" mode="change">
<attList>
<attDef ident="precision" mode="delete"/>
<attDef ident="scope" mode="delete"/>
</attList>
</classSpec>

<classSpec ident="att.divLike" type="atts" mode="change">
<attList>
<attDef ident="org" mode="change">
<valList mode="change" type="closed">
<valItem ident="parallel" mode="add">
<desc>the immediate contents of this element are regarded as forming a logical
unit, to be processed in parallel.</desc>
</valItem>
</valList>
</attDef>
</attList>

</classSpec>
<classSpec ident="att.docStatus" type="atts" mode="delete"/>
<classSpec ident="att.editLike" type="atts" mode="delete"/>
<classSpec ident="att.fragmentable" type="atts" mode="delete"/>
<classSpec type="atts" ident="att.global.change" mode="delete"/>
<classSpec type="atts" ident="att.global.facs" mode="delete"/>
<!--    <classSpec type="atts" ident="att.global.linking" mode="delete"/>
-->
<classSpec type="atts" ident="att.global.rendition" mode="change">
<attList>
<attDef ident="rendition" mode="delete"/>
<attDef ident="style" mode="delete"/>
</attList>
</classSpec>
<!-- <classSpec ident="att.global.responsibility" type="atts" mode="delete"/>
   -->
<!--  <classSpec ident="att.global.source" type="atts" mode="delete"/>
   -->
<classSpec ident="att.internetMedia" type="atts" mode="delete"/>
<classSpec ident="att.naming" type="atts" mode="change">
<attList>
<attDef ident="nymRef" mode="delete"/>
</attList>
</classSpec>
<classSpec ident="att.personal" type="atts" mode="delete"/>
<classSpec type="atts" ident="att.pointing" mode="change">
<attList>
<attDef ident="targetLang" mode="delete"/>
<attDef ident="evaluate" mode="delete"/>
</attList>
</classSpec>
<classSpec ident="att.notated" type="atts" mode="delete"/>
<classSpec ident="att.ranging" type="atts" mode="delete"/>
<!--<classSpec ident="att.spanning" type="atts" mode="delete"/>
-->
<classSpec ident="att.timed" type="atts" mode="delete"/>
<classSpec type="atts" ident="att.typed" mode="change">
<attList>
<attDef ident="subtype" mode="delete"/>
</attList>
</classSpec>
<classSpec ident="att.written" type="atts" mode="delete"/>
<elementSpec ident="TEI" mode="change">
<attList>
<attDef ident="xml:id" mode="change" usage="req"/>
<attDef ident="version" mode="delete"/>
</attList>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples"> &lt;TEI xml:id="L0001"
xmlns="http://www.tei-c.org/ns/1.0" &gt; &lt;!-- --&gt; &lt;/TEI&gt; </egXML>
</exemplum>
<remarks>
<p>The attribute xml:id should supply the Lacy Identifier for the title being
encoded. This should begin with a letter L, followed by four digits, and
(optionally) the letter R, if the text in question is a replacement. </p>
</remarks>
</elementSpec>
<elementSpec ident="actor" mode="change">
<attList>
<attDef ident="perf" mode="add">
<desc>[Lacy specific] points to a performance in which this actor had the role
indicated</desc>
<datatype>
<dataRef key="teidata.pointer"/>
</datatype>
<remarks>
<p>The element targetted may be a <gi>performance</gi> element, or an
<gi>event</gi></p>
</remarks>

</attDef>
<attDef ident="sex" mode="change">
<valList mode="add" type="closed">
<valItem ident="F">
<desc>Female</desc>
</valItem>
<valItem ident="M">
<desc>Male</desc>
</valItem>
<valItem ident="J">
<desc>Junior</desc>
</valItem>
</valList>
</attDef>
<attDef ident="gender" mode="delete"/>
<attDef ident="ref" mode="delete"/>
</attList>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples"> </egXML>
</exemplum>
</elementSpec>
<elementSpec ident="author" mode="change">
<classes>
<memberOf key="att.global"/>
<memberOf key="att.naming"/>
<memberOf key="model.respLike"/>
</classes>
<content>
<alternate>
<sequence>
<elementRef key="surname"/>
<elementRef key="forename" minOccurs="0" maxOccurs="unbounded"/>
<elementRef key="name" minOccurs="0" maxOccurs="unbounded"/>
<elementRef key="date"/>
</sequence>
<textNode/>
</alternate>
</content>
<attList>
<attDef ident="calendar" mode="delete"/>
<attDef ident="role" mode="delete"/>
</attList>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<author>Fitzball, Edward</author>
</egXML></exemplum><exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples"><author>“Cavendish, Lady Clara“
[Rymer, James Malcolm]</author></egXML>
</exemplum>
<remarks>
<p>The name should be given in the form "Surname, Forename/s or Initials". If
the name is not attested in the text but has been supplied by the editor, it
should be enclosed in square brackets. If the name is known to be a pseudonym,
it should be enclosed in quotation marks. The element should be repeated if
there are multiple authors. Not permitted outside the header.</p>
</remarks>
</elementSpec>

<elementSpec ident="back" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
</egXML>
</exemplum></elementSpec>
<elementSpec ident="bibl" mode="change">
<attList>
<attDef ident="subtype">
<desc>Further defines the role of this bibliographic item </desc>
<valList type="closed">
<valItem ident="copytext">
<desc>The digitized images of this item have been used as copytext</desc>
</valItem>
 <valItem ident="TEI">
  <desc>This item references a TEI XML version of the work</desc>
 </valItem>
</valList>
</attDef>
<attDef ident="type" mode="replace">
<desc>specifies the scope of the bibliographic description </desc>
<valList type="closed">
<valItem ident="surrogate">
<desc>the description contains pointers to available digital versions of the work</desc>
</valItem>
<valItem ident="origin">
<desc>the description documents the printed source of the work</desc>
</valItem>
<valItem ident="msSource">
<desc>the description documents a manuscript source for the work</desc>
</valItem>
</valList>
</attDef>
</attList>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples"> <bibl type="origin" n="3.14"><author>Brooks, Shirley</author><title
type="main" n="theexposition">The Exposition: A Scandinavian
Sketch</title><title type="sub">Containing as Much Irrelevant Matter as
Possible, in one act</title><extent>21 pp (UM copy: 438 - 459)<measure type="pp"
quantity="22"/>
<measure type="spCount" quantity="298"/>
<measure type="spvCount" quantity="298"/>
<measure type="txWords" quantity="6626"/>
<measure type="spWords" quantity="5818"/>
<measure type="stWords" quantity="808"/>
</extent>
<title level="s"> Lacy's Acting Edition, volume 3, No. 0044</title><idno
type="nic">N09809</idno><idno type="vpp">Vol3xivExposition</idno></bibl></egXML>
</exemplum><exemplum><egXML xmlns="http://www.tei-c.org/ns/Examples">
<bibl type="digitalSource" subtype='copy'><ref target="https://hdl.handle.net/2027/uc1.31175035138497" 
>UC from HT</ref><ref target="local:Vol01/L0006/L0006-uc.pdf"/></bibl>
</egXML></exemplum>
</elementSpec>

<elementSpec ident="body" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
</egXML>
</exemplum></elementSpec>

<elementSpec ident="byline" mode="change">
<content>
<alternate maxOccurs="unbounded">
<textNode/>
<elementRef key="docAuthor"/>
<elementRef key="title"/>
</alternate>
</content>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<byline>By <docAuthor>Shirley Brooks.</docAuthor>Author of <title>The Daughter
of the Stars</title>; <title>The Creole</title>; <title>The Guardian
Angel</title>, &amp;c., &amp;c.</byline></egXML>
</exemplum>
</elementSpec>
<elementSpec ident="change" mode="change">
<attList>
<attDef ident="when" mode="change" usage="req"/>
<attDef ident="target" mode="delete"/>
<attDef ident="when-custom" mode="delete"/>
<attDef ident="notBefore-custom" mode="delete"/>
<attDef ident="notAfter-custom" mode="delete"/>
<attDef ident="from-custom" mode="delete"/>
<attDef ident="to-custom" mode="delete"/>
<attDef ident="datingPoint" mode="delete"/>
<attDef ident="datingMethod" mode="delete"/>
<attDef ident="when-iso" mode="delete"/>
<attDef ident="notBefore-iso" mode="delete"/>
<attDef ident="notAfter-iso" mode="delete"/>
<attDef ident="from-iso" mode="delete"/>
<attDef ident="to-iso" mode="delete"/>
<attDef ident="calendar" mode="delete"/>
</attList>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<change when="2023-05-19">Header confected</change>
</egXML>
</exemplum>
<remarks>
<p>The <att>when</att> attribute must be supplied and should indicate a date in
the format YYYY-MM-DD. </p>
</remarks>
</elementSpec>
<elementSpec ident="castList" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<castList>
<head>Characters .</head>
<castItem><role gender="M">John Box</role>
<actor sex="M">Mr. Buckstone.
</actor></castItem>
<castItem><role gender="M">James Cox</role>
<actor sex="M">Mr. Harley.
</actor></castItem>
<castItem><role gender="F">Mrs. Bouncer</role>
<actor sex="F">Mrs. Macnamara
</actor></castItem>
</castList>
</egXML>
</exemplum></elementSpec>
<elementSpec ident="corr" mode="change">
<exemplum>
<p>The printed source reads something other than "Perdita", which has been
corrected by the transcriber </p>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<l><stage>(embracing <corr>Perdita</corr>.)</stage> Kiss me, my pet—Leontes, how
d'ye do ? </l>
</egXML>
</exemplum>
</elementSpec>
<elementSpec ident="div" mode="change">

<constraintSpec mode="add" ident="frontDivTypes" scheme="schematron">
<constraint>
<sch:rule context="tei:div"><sch:assert test="not(parent::tei:front) or
        @type=('costume','liminal','programme','castList')" role="ERROR">In
the front matter, div elements must be of type liminal or costume or programme
or castList</sch:assert></sch:rule>
</constraint>
</constraintSpec>
<attList>
<attDef ident="type" mode="change">
<datatype>
<dataRef key="teidata.enumerated"/>
</datatype>
<valList type="closed" mode="replace">
<valItem ident="act"/>
<valItem ident="costume"/>
<valItem ident="liminal"/>
<valItem ident="notes"/>
<valItem ident="programme"/>
<valItem ident="scene"/>
<valItem ident="setting"/>
<valItem ident="volume"/>
<valItem ident="work"/>
</valList>
</attDef>
</attList>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples"> </egXML>
</exemplum>
</elementSpec>
<elementSpec ident="emph" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">O <sp>
<speaker>Tip.</speaker>
<p>Lor! only to think—how stupid of me—I quite forgot it, but now you mention
it, I <emph>should</emph> like a bit of supper after my journey. What have you
got in the house ?</p>
</sp>
</egXML>
<!-- L0048 -->
</exemplum>
</elementSpec>
 
 <elementSpec ident="figure" mode="change">
  <exemplum>
   <egXML xmlns="http://www.tei-c.org/ns/Examples"><div type="liminal">
<figure><graphic url="media/L1434-frontispiece.png"/>
<head><hi>Mazeppa</hi>. Help! help! for heaven's sake release me! <hi>Act II. Scene
III</hi>.</head></figure>
</div>
</egXML>
   <!-- L1434 -->
  </exemplum>
 </elementSpec>
<!--<elementSpec ident="encodingDesc" mode="change">
      <content>
       <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
      </content>
     </elementSpec>-->
<elementSpec ident="foreign" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<sp>
<speaker>Suivanta.</speaker>
<l>Alas! There's no commanding our affections ;</l>
<l>And, therefore, sire, the point at once to go to, </l>
<l>Excuse our saying we object <foreign>in toto </foreign></l>
<l>To this alliance.</l>
</sp></egXML>
<!-- L0271 -->
</exemplum>
</elementSpec>
<elementSpec ident="head" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<body>
<head>TIME TRIES ALL.</head>
<div>
<head>Act I</head>
<stage type="setting">SCENE.— Handsome, Apartment in the House of Leeson and
Bates, Merchants — Door in C , with window on each side — Doors L.C. Flat and R.
2 E., Chairs, Tables, Sofa, &amp;c., &amp;c. </stage>
<!-- ... -->
<trailer>End of Act 1</trailer>
</div>
<!-- other acts here -->
</body>
</egXML>
<p>A heading of any kind at the start of a division of any kind should be marked
using <gi>head</gi>. The detailed description which usually begins a scene
should be marked as a stage, however. </p>
</exemplum>
</elementSpec>
<elementSpec ident="hi" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<p> Yes, Harry; your old schoolfellow is <hi>Sir</hi> Charles Chatterton now.
Ha! </p>
</egXML>
</exemplum>
<remarks>
<p>This element is used for any kind of typographic salience (usually italics)
recorded by the encoder without any attempt at interpretation.</p>
</remarks>
</elementSpec>
<elementSpec ident="idno" mode="change">
<attList>
<attDef ident="calendar" mode="delete"/>
</attList>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples"> </egXML>
</exemplum>
</elementSpec>
<elementSpec ident="l" mode="change">
<exemplum>
<p>When a single metrical line is split between speakers, each fragment is
marked as a distinct <gi>l</gi> element, as in this example: </p>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<sp>
<speaker>Cecilia.</speaker>
<l>Thoughtful sir,</l>
<l>How fare you? </l>
<l>Thou'st been reading much of late </l>
<l>By the moon's light, I fear me ?</l>
</sp>
<sp>
<speaker>Marl.</speaker>
<l>Why so, lady?</l>
</sp>
<sp>
<speaker>Cecil.</speaker>
<l>The reflex of the page is on thy face.</l>
</sp>
</egXML>
</exemplum>
<!-- FR0726_Gay_Elleonore -->
</elementSpec>
<elementSpec ident="label" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<div type="costume">
<list type="gloss">
<label>Mr. Tippity </label>
<item>Great coat, modern shooting jacket, light vest and trowsers.</item>
<label>American.</label>
<item>—Light frock coat, vest and trowsers, and broad hat.</item>
<label>Frenchman.</label>
<item>—Dressing gown, trowsers, beard, and moustache</item>
<label>Scotchman.</label>
<item>—Full Highland dress.</item>
<label>Indian.</label>
<item>Dress of the country.</item>
<label>Mrs. Tippity.</label>
<item>High-necked modern dress.</item>
<label>Clementina.</label>
<item>—Dark cotton dress, short sleeves, apron, &amp;c.</item>
</list>
</div></egXML>
</exemplum>
</elementSpec>
<!--  <elementSpec ident="name" mode="change">
      <classes>
       <memberOf key="att.global"/>
       <memberOf key="att.typed"/>
       <memberOf key="model.nameLikeAgent"/>
       <memberOf key="model.personPart"/>
      </classes>  <exemplum>
       <p>provides the name of a person who is neither an author nor a publisher</p>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <name>Christof Schöch</name> </egXML>
      </exemplum>
      <remarks>
       <p>Not permitted outside the header</p>
      </remarks>
     </elementSpec>-->

<elementSpec ident="note" mode="change">
<attList>
<attDef ident="type" mode="change">
<datatype>
<dataRef key="teidata.enumerated"/>
</datatype>
<valList type="closed">
<valItem ident="bib">
<desc>any other bibliographic note</desc>
</valItem>
<valItem ident="ed">
<desc>any non-bibliographic annotation or comment on the text supplied by the
encoder</desc>
</valItem>
<valItem ident="orig">
<desc>annotation printed as such in the original source</desc>
</valItem>
<valItem ident="add">
<desc>contemporary manuscript annotation in the original source</desc>
</valItem>
<!-- <valItem ident="otherPerfs">
          <desc>note summarizing performance history after the first</desc>
         </valItem>
         <valItem ident="LCP">
          <desc>note concerning Lord Chamberlain's licencing of this source</desc>
         </valItem>-->
<valItem ident="fees">
<desc>note concerning performance or licencing as given in the source
text</desc>
</valItem>
<!-- <valItem ident="source">
        <desc>note concerning original source from which source text is derived</desc>
        </valItem>
  -->
<valItem ident="media">
<desc>note contains links to media associated with this item</desc>
</valItem>
<!-- <valItem ident="localCopies">
        <desc>note concerns local copies (deprecated)</desc>
        </valItem>-->
</valList>
</attDef>
<!-- <attDef ident="anchored" mode="delete"/>
       <attDef ident="targetEnd" mode="delete"/>-->
</attList>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples"> </egXML>
</exemplum>
</elementSpec>

<elementSpec ident="p" mode="change">
<constraintSpec ident="abstractModel-structure-p" scheme="schematron"
mode="delete"/>
<constraintSpec ident="abstractModel-structure-l" scheme="schematron"
mode="delete"/>

<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<sp>
<speaker>Sanson.</speaker>
<stage> (bowing)</stage>
<p>The fame of the celestial beauty, which illumines this remote region, has
attracted me.</p>
</sp>
<sp>
<speaker>Ninon.</speaker>
<p>I beg your pardon.</p>
</sp>
</egXML>
</exemplum>
</elementSpec>
<elementSpec ident="pb" mode="change">
<attList>
<attDef ident="facs">
<desc>link to a graphic image of the page beginning here</desc>
<datatype>
<dataRef name="anyURI"/>
</datatype>
</attDef>
</attList>
<exemplum xml:lang="en">
<p>A page break may be associated with a facsimile image of the page it
introduces by means of the <att>facs</att> attribute</p>
<egXML xmlns="http://www.tei-c.org/ns/Examples" source="#UND">
<body>
<pb n="1" facs="page1.png"/>
<!-- page1.png contains an image of the page;
    the text it contains is encoded here -->
<p>
<!-- ... -->
</p>
<pb n="2" facs="page2.png"/>
<!-- similarly, for page 2 -->
<p>
<!-- ... -->
</p>
</body>
</egXML>
</exemplum>
<exemplum>
<p>If a page break interrupts a word the word fragments should be reassembled
following it. <graphic url="media/inWordpb.png"/></p>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<p>My own relations too were nobly generous and by their kindness I have been
<pb n="100"/> established in this shop, and for the last year have carried on
this little business.... </p>
</egXML>
</exemplum>
<remarks>
<p>A <gi>pb</gi> element should appear at the start of the page which it
identifies. The global <att>n</att> attribute indicates the number or other
value associated with this page in the original source. This will normally be
the page number or signature printed on it, since the physical sequence number
is implicit in the presence of the <gi>pb</gi> element itself. </p>
</remarks>
</elementSpec>
<elementSpec ident="pubPlace" mode="delete"/>
<elementSpec ident="publisher" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<bibl type="firstEdition">
<title>La baronne trépassée</title>
<publisher>Baudry</publisher>
<pubPlace>Paris</pubPlace>
<date>1852</date>
</bibl>
</egXML>
</exemplum>
<remarks>
<p>Not permitted outside the header</p>
</remarks>
</elementSpec>

<elementSpec ident="resp" mode="change">
<attList>
<attDef ident="calendar" mode="delete"/>
</attList>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples"> </egXML>
</exemplum>
</elementSpec>

<elementSpec ident="respStmt" mode="change">
<content>
<sequence>
<elementRef key="resp"/>
<elementRef key="name"/>
</sequence>
</content>
<exemplum>

<egXML xmlns="http://www.tei-c.org/ns/Examples"><respStmt>
<resp>Curated by</resp>
<name>Lou Burnard</name>
</respStmt></egXML>
</exemplum>
<remarks>
<p/>
</remarks>
</elementSpec>
<elementSpec ident="role" mode="change">
<attList>
<attDef ident="gender" mode="change">
<valList mode="add" type="closed">
<valItem ident="F">
<desc>Female</desc>
</valItem>
<valItem ident="J">
<desc>Juvenile</desc>
</valItem>
<valItem ident="M">
<desc>Male</desc>
</valItem>
<valItem ident="X">
<desc>Mixed</desc>
</valItem>
<valItem ident="U">
<desc>Unknown (Dracor requisite)</desc>
</valItem>
</valList>
</attDef>
</attList>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples"> </egXML>
</exemplum>
</elementSpec>
<elementSpec ident="sourceDesc" mode="change">
<exemplum>
<p> </p>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<sourceDesc>
<p>Converted from <ref target="gut:45628">The Project Gutenberg EBook of A
Desperate Game, by John Maddison Morton</ref> (Release Date: May 11, 2014 [EBook
#45628])</p>
</sourceDesc>
</egXML>
</exemplum>
</elementSpec>

<elementSpec ident="spGrp" mode="change">
<classes>
<memberOf key="att.global"/>
<memberOf key="att.ascribed.directed"/>
<memberOf key="att.typed"/>
<memberOf key="att.divLike"/>
<memberOf key="model.divPart"/>
</classes>
<content>
<sequence>
<classRef key="model.headLike" minOccurs="0" maxOccurs="unbounded"/>
<alternate minOccurs="1" maxOccurs="unbounded">
<classRef key="model.global"/>
<elementRef key="sp"/>
<elementRef key="spGrp"/>
<classRef key="model.stageLike"/>
</alternate>
</sequence>
</content>
<attList>
<attDef ident="type" mode="delete"/>
<attDef ident="sample" mode="delete"/>
</attList>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples"> </egXML>
</exemplum>
</elementSpec>
<elementSpec ident="text" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<text>
<front><!-- front matter e.g. titlepage  --></front>
<body><!-- body of the text --></body>
<back><!-- back matter e.g. notes-->
</back>
</text>
</egXML>
</exemplum>
<remarks>
<p/>
</remarks>
</elementSpec>

<elementSpec ident="stage" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples"><stage> Enter Jessica, reading a letter (with bonnet and parasol) R. F followed
by Launcelot dressed as a page and leading a toy spaniel on wheels. </stage></egXML>
</exemplum><exemplum><egXML xmlns="http://www.tei-c.org/ns/Examples">
<sp who="#L0013_U12">
<speaker>1851.</speaker>
<l><stage>(Confidentially to audience,)</stage> 
If any one himself would like to see, </l>
<l>Come back to-morrow and inquire for me.</l>
</sp></egXML></exemplum></elementSpec>

<elementSpec ident="title" mode="change">
<exemplum>
<p>Play titles referenced on a title page should be tagged:</p>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<byline> By <docAuthor>Shirley Brooks,</docAuthor> Member Of The Dramatic Authors' Society;
Author Of <title>Our New Governess</title>, <title>Honours And Tricks</title>, <title>The
Wigwam</title>, Etc., Etc.</byline>
</egXML></exemplum>
<exemplum>
<p>Titles of songs or airs given at the start of a spGrp should also be tagged</p><egXML xmlns="http://www.tei-c.org/ns/Examples">
<head> Duett and Dance : Air.—<title>"Pop goes the Weasel."</title>
</head></egXML></exemplum>

</elementSpec>

<elementSpec ident="titlePage" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<titlePage>
<titlePart type="main">Dred: A Tale of the Dismal Swamp</titlePart>
<titlePart type="sub">A Drama, in two acts,</titlePart>
<titlePart type="source">(From Mrs. Beecher Stowe's Popular Novel.) </titlePart>
<byline>by <docAuthor>W. E. Suter, Esq.</docAuthor>, author of <title>"A Life's
Revenge"</title>, <title>"Tiger Slayer of the Savannah</title>, <title>"A
Quiet Family"</title><title>"The Life of an Actress</title>, <title>"Jupiter's Decree"</title>, &amp;c. &amp;c.</byline>
<docImprint>THOMAS HAILES LACY, 89, STRAND, LONDON.</docImprint>
</titlePage>
</egXML></exemplum>
     </elementSpec>
<elementSpec ident="titlePart" mode="change">
<attList>
<attDef ident="type" mode="replace">
<datatype><dataRef key="teidata.enumerated"/></datatype>
<valList type="semi">
<valItem ident="main"><desc>main title of work</desc></valItem>
<valItem ident="sub"><desc>sub title of work</desc></valItem>
<valItem ident="alt"><desc>alternate title of work</desc></valItem>
<valItem ident="desc"><desc>general description of work</desc></valItem>
<valItem ident="price"><desc>specifies the price of the work</desc></valItem>
<valItem ident="performance"><desc>note of first performances</desc></valItem>
<valItem ident="source"><desc>indication of the source from which the work was derived</desc></valItem>
</valList></attDef>
</attList>
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<titlePage>
<titlePart type="main">"The Birds" of Aristophanes</titlePart>
<titlePart type="sub">A dramatic experiment in one act</titlePart>
<titlePart type="desc">Being an humble attempt to adapt the said "Birds"to this climate, by
giving them new names, new feathers, new songs and new tales, </titlePart>
<byline>By <docAuthor>J. R. Planché, Esq.</docAuthor>Author of
<title>"Fortunio,</title><title>"The White Cat,"</title><title>"Beauty and the
Beast,"</title><title>"The Sleeping Beauty,"</title><title>"The Drama at
Home,"</title><title>"The Fair one with the Golden Locks,"</title>
<title>"The Bee and the Orange Tree,</title> &amp;c. &amp;c. </byline>
<epigraph><quote>"A jest's prosperity lies in the ear Of him
that hears it, never in the tongue Of him that makes
it.</quote>Shakespere.</epigraph>
<titlePart type='desc'>Correctly Printed from the Prompt Book,with Exits,
Entrances, &amp;c . </titlePart>
<titlePart type="performance">First performed at the Theatre Royal Haymarket,
Monday April 13th, 1846</titlePart>
<docImprint> London: Published by S. G Fairbrother, Bow Street, And W. Strange,
Paternoster Row, Sold Also By W. Barth, Brydges Street, C. Harris, Bow Street,And
All Booksellers. Price Sixpence. </docImprint>
</titlePage>
</egXML></exemplum></elementSpec>

<elementSpec ident="titleStmt" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<titleStmt>
<title n="anythingforachange" type="main">Anything for a Change</title>
<author>Brooks, Shirley</author>
<respStmt>
<resp>Curated by</resp>
<name>Lou Burnard</name>
</respStmt>
</titleStmt>
</egXML><!-- L0053 -->
</exemplum>
</elementSpec>

<elementSpec ident="trailer" mode="change">
<exemplum>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<body>
<!-- ... -->
<sp>
<speaker>Rat.</speaker>
<p>At any rate, I have secured this lady for my <emph>partner,</emph> and for
such a prize who would not play “A Desperate Game.”</p>
</sp>

<stage>CURTAIN.</stage>

<trailer>PRINTED BY THOMAS SCOTT, WARWICK COURT, HOLBORN.</trailer>

</body></egXML>
</exemplum>
</elementSpec>
</schemaSpec>
</div>
</back>
</text>
</TEI>
